@import "default.css";

.menu {
    margin-top: 20rem;
  }

  .container{
    padding: 1.5em;
  }

  .menu-grid{
    font-size: 1.5em;
  }

  .menu-group-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #b17449;
  }

  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }

  .menu-item {
    display: flex;
  }

  .menu-item.image{
    width: 1em;
    height: 1em;
  }

  .menu-item-image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }

  .menu-item-text {
    flex-grow: 1;
  }

  .menu-item-heading{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .menu-item-name{
    margin-right: 1.5em;
  }

  .menu-item .add-to-cart i{
    font-size: 1.5em;
    color: var(--default);
    position: relative;
    float: right;
    cursor: pointer;
  }
  
  .menu-item .add-to-cart i:hover{
    color: #b17449;
    transform: scale(1.3);
  }

  

@media screen and (min-width: 992px){
    .menu-grid{
        font-size: 2em;
    }
    .menu-group{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image{
        width: 125px;
        height: 125px;
      }
    
}