@import "default.css";

.menu {
  margin-top: 20rem;
}

.container {
  padding: 1.5em;
}

.menu-grid {
  font-size: 1.5em;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #b17449;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item.image {
  width: 1em;
  height: 1em;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  border: 5px solid #e1dbc8;
  border-radius: 10px;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item .add-to-cart i {
  font-size: 1.5em;
  color: var(--default);
  position: relative;
  float: right;
  cursor: pointer;
}

.menu-item .add-to-cart i:hover {
  color: #b17449;
  transform: scale(1.3);
}


.cart-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 40em;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b17449;
  padding-bottom: 1em;
}

.cart-header {
  font-size: 2em;
  color: var(--default);
}

.cart-header a {
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
}

.cart-container .cart-header {
  display: flex;
  justify-content: space-between;
}

.cart-container.show {
  display: block;
}

.cart-items {
  list-style: none;
  margin: 1em;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border: 5px solid #e1dbc8;
  border-radius: 10px;
}

.cart-item-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-item-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-item-quantity input {
  width: 40px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.cart-item div {
  width: 100%;
}

.remove-from-cart {
  cursor: pointer;
  font-size: 20px;
}

.btn-qtd-remv {
  display: flex;
}

.cart-total {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: var(--default);
}

.checkout-btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #b17449;
  color: #fff;
  border: none;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: var(--default);
}


@media screen and (min-width: 992px) {
  .menu-grid {
    font-size: 2em;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }

}